doctype html
html(lang="en")
  include includes/document_head.pug
  body
  include includes/header.pug
  h2 Whose turn is it?

  #container.col
    p.
      Next Coffee will be bought by #{whoPaysToday}
    form(action='/postACoffee', method='post')
      input(type='hidden' name='whichPerson' value=whoPaysToday)
      button(type='submit', onclick='') Buy that coffee #{whoPaysToday}!

    form(action='/postACoffee', method='post')
      input(type='hidden' name='whichPerson' value='skip')
      button(type='submit', onclick='') Skip your turn!
  #container.col
    p Oonagh has bought: #{results.totalO} coffees
    p Tarns has bought: #{results.totalT} coffees
    p In total there have been #{results.totalCoffees} coffees bought
  #container.col
    p.
      Here's the history
    a(href='/history') Go to history
